.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.outer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  border: 2px solid gray;
  margin: 10px;
  text-align: center;
}
.outer>p{
  padding: 10px;
}
.main{
  display: flex;
  justify-content: center;
}
.heart-icon{
  width: 100%;
  border-top: 1px solid grey;
  padding-bottom: 15px;
  padding-top: 15px;
  cursor:pointer;
  color:red;
}
.title{
  padding:10px 20px ;
}

.sort-btn{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 20rem;
  margin: 20px;
  background-color: transparent;
  border-radius: 5%;
  font-size: larger;
  cursor: pointer;
  border: 2px solid grey;
  background-color: rgb(66, 63, 57);
  color: white;
  /* box-shadow: 2px solid black; */
}
.initial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
